{% extends "base.html" %}

{% block container %}
    {% for message in get_flashed_messages() %}
        {{ message }}
    {% endfor %}
    <div class='grid'>
        <table>
            {% for row in game.rows %}
                {% set y = loop.index0 %}
                <tr>
                    {% for letter in row %}
                        {% set x = loop.index0 %}
                        <td id='{{ y }}{{ x }}'><div>{{ letter }}{% if letter == 'q' %}u{% endif %}</div></td>
                    {% endfor %}
                </tr>
            {% endfor %}
        </table>
    </div>
    <form action="submit" method="post">
        <input id='word' name='word' type='text' autocomplete="off" />
    </form>
    <p>
        {% if game.state == 1 %}
            Game pending.
        {% elif game.state == 2 %}
            Game ends in {{ (game.end - now).seconds }} seconds.
        {% elif game.state == 3 %}
            Game over. {% if next_game %}Next game starts in {{ (next_game.start - now).seconds }} seconds.{% endif %}
        {% endif %}
    </p>
    <p>{{ score }} points - {{ entries.count() }} of {{ game.get_words()|length }} words</p>
    <div id='leaderboard'>
        <table>
            <tr>
                <th>Rank</th>
                <th>User</th>
                <th>Score</th>
            </tr>
            {% for user, score in leaderboard %}
                <tr {% if user == g.user %}class="self"{% endif %}>
                    <td>{{ loop.index }}</td>
                    <td>Anonymous{{ user.id }}</td>
                    <td>{{ score }}</td>
                </tr>
            {% endfor %}
        </table>
    </div>
    <ul>
        {% for entry in entries %}
            <li>{{ entry.word }} ({{ entry.score }})</li>
        {% endfor %}
    </ul>
    <div>
        {% if game.state == 3 %}
            {% for word in game.get_words() %}
                {{ word }}{% if not loop.last %}, {% endif %}
            {% endfor %}
        {% endif %}
    </div>
    <script>
        var grid = ["{{ '", "'.join(game.rows) | safe }}"];
    </script>
{% endblock %}
